<p>manage-builds works!</p>
<div *ngFor="let build of builds">
    <mat-accordion>
        <mat-expansion-panel (opened)="onExpand($event, build.id)"
                             (closed)="panelOpenState = false">          
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{build.name}}
            </mat-panel-title>
            <mat-panel-description>
              Test Description
            </mat-panel-description>
          </mat-expansion-panel-header>
            <div *ngFor="let part of currentParts">
                <p>{{part.id}}</p>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
      
</div>