<h1>Manage Builds</h1>
<div id="build-form">
    <form [formGroup]="buildForm" (ngSubmit)="onCreate()">
        <mat-form-field appearance="fill">
            <mat-label>Build Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <button class="submit-btns" id="add-class-btn" type="submit"  [disabled]="buildForm.invalid" mat-raised-button color="accent">Create Build</button>
    </form>
</div>
<div id='manage-builds' *ngFor="let build of buildData | keyvalue">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox color="primary" 
                (click)="$event.stopPropagation()" 
                (keydown)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(build.key) : null"
                [checked]="selection.isSelected()"
                [aria-label]="checkboxLabel(build.key)">
                  {{getBuildScore(build)}}
                  {{build.key}}
              </mat-checkbox>
            </mat-panel-title>
            <mat-panel-description class="desc-panels">
              Overall Build Score: {{score}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list *ngFor="let buildPart of build.value">
            <mat-list-item> 
                <mat-checkbox color="primary" 
                (click)="$event.stopPropagation()" 
                (change)="$event ? partSelection.toggle(buildPart) : null"
                [checked]="partSelection.isSelected()"
 >
                Name: {{buildPart.part.name}}
                Benchmark Score:{{buildPart.part.benchmarkScore}}
                </mat-checkbox>
            </mat-list-item>
           </mat-list>
      </mat-expansion-panel>
</div>
<button id="submit-btn" (click)="onBuildDelete()"  mat-raised-button color="accent">Delete Selected Builds</button>
<button id="submit-btn" (click)="onBuildPartDelete()"  mat-raised-button color="primary">Delete Selected Parts From Builds</button>